:root {
  --primary: #13278c;
  --primary-active: #2536a8;
  --secondary: #e7ebfa;
  --secondary-active: #6c80da;
  --background-primary: #ffffff;
  --background-disable: #f5f5f5;
  --text-primary: #111827;
  --text-secondary: #b5b5b5;
  --text-on-primary: #ffffff;
  --text-disable: #b5b5b5;
  --border-primary: #d1d5db;
  --state-accent: #1099e6;
  --state-error: #fd0808;

  --font-roboto: 'Roboto', sans-serif;
}
